<h1>Hello<small> {{name}}!<small></h1>

<div>
    <table>
        <thead>
         <tr>
            <th>value1</th>
            <th>value2</th>
            <th>action</th>
            <th>result</th>
         </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{value1}}</td>
                <td>{{value2}}</td>
                <td>{{action}}</td>
                <td>{{result}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ url_for('home') }}">I WANT MOAR!</a>
</div>
